#navbar {
    min-height: 54px;
    width: 100vw;
    background: var(--main-background-color);
    border-bottom: 1px solid #dbdbdb;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 200px;
    position: sticky;
    z-index: 10000;
  }
  
  #navigation-user-image {
    height: 22px;
    width: 22px;
    border-radius: 50%;
    object-fit: cover;
  }
    
  #navbar .search-area input[type="search"]::placeholder {
    text-align: center;
  }
  
  #navbar .navigation .navigation-navbar {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-self: flex-end;
  }
  
  #navbar .navigation .navigation-navbar .navigation-navbar-item {
    margin-right: 150px;
  }
  
  #navbar .navigation .navigation-navbar .navigation-navbar-item:last-child {
    margin-right: 0;
  }