


  <footer>

     <ol class="fim1">
        <li>Meta</li>
        <li>Sobre</li>
        <li>Carreiras</li>
        <li>Ajuda</li>
        <li>API</li>
        <li>Privacidade</li>
        <li>Termos</li>
        <li>Principais</li>
        <li>Contas</li>
        <li>Hashtags</li>
        <li>Localizações</li>
        <li>Instagram Lite</li>

         <br><br>
      </ol>

     <ol class="fim2">
      <li>Português(Brasil)&nu; </li>
      <li>&copy;2022 Instagram from Meta</li>
     </ol>



