
<header class="sessao">

    <div class="foto">
        <img class="fot" src="../../../assets/img/me.jpg"> 
    </div>  

  <section class="inf">  
   
    <div class="informacao">   
        <h2 class="user">Renato Pereira</h2>
        <button class="edt" mat-stroked-button>Editar perfil</button>
        <p class="ing"><img src="../../../assets/img/eng.png"> </p>
    </div> <br>

    <ul class="meio"> 
        <li class="meio1"><b>108 </b>publicações</li>
        <li class="meio1"><b>8 803 </b>seguidores</li>
        <li class="meio1"><b>205 </b> seguindo</li>
    </ul>
    <div class="nome"><h3>Renato3x</h3></div>
    
  </section>
</header>
<hr class="hrzin">

<div class="main">
   <div class="container-galeria">
       <div class="item-galeria">
       <img src="../../../assets/img/jojo1.jpg" alt="" class="img-galeria">
       </div>
       <div class="item-galeria">
       <img src="../../../assets/img/jojo2.jpg" alt="" class="img-galeria">
       </div>
       <div class="item-galeria">
       <img src="../../../assets/img/jojo3.jpg" alt="" class="img-galeria">
       </div>
       <div class="item-galeria">
       <img src="../../../assets/img/jojo4.jpg" alt="" class="img-galeria">
       </div>
       <div class="item-galeria">
       <img src="../../../assets/img/jojo5.jpg" alt="" class="img-galeria">
       </div>
       <div class="item-galeria">
       <img src="../../../assets/img/jojo6.jpg" alt="" class="img-galeria">
       </div>
       <div class="item-galeria">
       <img src="../../../assets/img/jojo7.jpg" alt="" class="img-galeria">
       </div>
       <div class="item-galeria">
       <img src="../../../assets/img/jojo8.jpg" alt="" class="img-galeria">
       </div>
       <div class="item-galeria">
       <img src="../../../assets/img/jojo9.jpg" alt="" class="img-galeria">
       </div>
   </div>
   <div class="main2">
       <div class="container-compartilhe">
           <h2>Comece a capturar e a compartilhar seus momentos</h2>
           <h3>Obtenha o aplicativo para compartilhar sua primeira foto ou vídeo.</h3>
           <div class="container-googleplay">
           <img src="../../../assets/img/googleplayeappstore.png" alt="" srcset="">
           </div>
       </div>
   </div>
</div>

<footer>

<ol class="fim1">
<li>Meta</li>
<li>Sobre</li>
<li>Carreiras</li>
<li>Ajuda</li>
<li>API</li>
<li>Privacidade</li>
<li>Termos</li>
<li>Principais</li>
<li>Contas</li>
<li>Hashtags</li>
<li>Localizações</li>
<li>Instagram Lite</li>

   <br><br>
</ol>

<ol class="fim2">
<li>Português(Brasil)&nu; </li>
<li>&copy;2022 Instagram from Meta</li>
</ol>
</footer>

