#main {
  width: 100%;
  background: var(--app-background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

 .content {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;

}