#stories {
  background: var(--main-background-color);
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  padding: 16px 0;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  display: flex;
}

/* Adicionei rolagem no eixo x no container dos stories e aumentei um pouco o max-width, para compensar o aumento que a rolagem causa no container*/
#stories .stories-container {
  display: flex;
  max-width: 639px;
  transition: transform .8s ease-in;
  overflow-x: hidden;
  scroll-behavior: smooth;
  flex-grow: 1;
}

/* a baixo as estizações dos botões de rolangem */
svg{
  height: 26px;
  width: 26px;
  position: absolute;
  margin-top: 20px;
  align-self: baseline;
  justify-self: end;

  border-radius: 50%;
  z-index: 1;
  cursor: pointer;

  border: 1px solid rgba(0, 0, 0, 0.034);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.096);
  background-color: transparent;
}
.rightScroll{
  margin-left: 600px;
}

.leftScroll{
  margin-left: 8px;
}

#stories .stories-container .story {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
}

#stories .stories-container .story + .story {
  margin-left: 6px;
}

#stories .stories-container .story-user-img {
  width: 56px;
  height: 56px;
  cursor: pointer;
  padding: 2px;
  border-radius: 50%;
  border: 2px solid transparent;
  background: linear-gradient(white, white) padding-box, linear-gradient(to right, 	#feda75, #fa7e1e, #d62976) border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

#stories .stories-container .story-user-img img {
  width: inherit;
  height: inherit;
  border-radius: 50%;
  object-fit: cover;
}

#stories .stories-container .story-username {
  font-size: 12px;
  cursor: pointer;
  margin-top: 5px;
  text-overflow: ellipsis;
  display: inline-block;
  width: 74px;
  overflow: hidden;
  text-align: center;
}