#home {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: center;
}

#home #main-content {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding-right: 30px;

}

#home #main-content .posts-container {
  height: fit-content;
  display: grid;
  grid-auto-rows: auto;
  gap: 30px;
}

#home #infos {
  position: sticky;
  top: 84px;
  height: 500px;
  width: 20%;
}

@media(max-width: 1200px){
  
  #home {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: center;
  }
  
  aside-data, #infos{
    display: none;
  }

  
  #home #main-content {
    padding: 0;

    width: 80%;
  }
  
  
  
}