#home {
  padding: 30px 0;
  min-height: calc(100vh - 54px);
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 300px;
  box-sizing: border-box;
  gap: 25px;
}

#home #main-content {
  display: grid;
  grid-template-rows: 118px 1fr;
  row-gap: 20px;
}

#home #main-content .posts-container {
  height: fit-content;
  display: grid;
  grid-auto-rows: auto;
  gap: 30px;
}

#home #infos {
  position: sticky;
  top: 84px;
  height: 500px;
}