<div class="dialog">
    <div class="top">
        <h1 mat-dialog-title>Trocar de conta</h1> 
        <button mat-button id="sair" (click)="cancel()"><mat-icon>clear</mat-icon></button>    
    </div>
    
    <div class="conta">
        <div class="user">
            <img [src]="userImageSource" alt="access my github :) https://github.com/renato3x" class="user-img">
        <div class="user-name-infos">
          <span class="user-username"><strong>Renato3x</strong></span>
        </div>
        </div>
        <button class="check">✓</button>
    </div>
    <div class="footer">
        <span id="novaConta" >Entrar em uma conta já existente</span>
    </div>
</div>